.timeTable {
    grid-area: timetable;
    padding: 0 15px;
    display: grid;
    grid-template-columns: minmax(200px, 230px) ; /*minmax(200px, 250px) repeat(4, 1fr)*/
    grid-template-rows: repeat(auto-fit, minmax(120px, auto));
    grid-template-areas: "controlPanel date"
                         "content content";
    background: white;
    border-radius: 25px;
    margin-top: 5%;
}

.controlPanel {
    grid-area: controlPanel;
}

.innerControlPanel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.controlPanelBtn {
    padding: 10px 16px;
    border-radius: 50%;
    border: none;
    background: #82B1FF;
    color: white;
    outline: none;
    margin: 10px 0;
}

.controlPanelBtn:active {
    background: #6d9cea;
}


.date {
    grid-area: date;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}



.subject {
    display: grid;
    width: 230px;
}


.content {
    grid-area: content;
}

.subjectContent {
    height: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px;
    justify-items: center;
}

.subjectName {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.taskContent , .date > div {
    width: 100%;
    height: 100%;
}

.task , .dateItem{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.task, .dateItem, .subject {
    border-bottom: 1px solid #dddddda1;
    border-right: 1px solid #dddddda1;
}

.taskBtn {
    background-color: #E2F2FD;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #5998FE;
    font-size: 14px;
    width: -webkit-fill-available;
    margin: 0 15px;
}

/*
table {
    !*border: 1px solid #e0e0e0;*!
    border-radius: 25px;
    margin: 5% 0;
    overflow: hidden;
    box-shadow: 0 0 5px 0px #ccc;
}

th, td {
    border-right: 1px solid #f4f1f1;
    border-bottom: 1px solid #f4f1f1;
}

tr {
    height: 120px;
}

td {
    vertical-align: top;
    padding: 15px 15px 0px 20px;
    font-size: 14px;
    font-weight: bold;
}

.dateInfo {
    width: 250px;
}

.title {
    background-color: white;
    width: 200px;
}

.initRow {
    height: 80px;
    background-color: white;
}

.initRow > .title, .day {
    color: #A5A5A5;
    font-weight: normal;
}

.day {
    font-size: 12px;
}

.task {
    background-color: #E2F2FD;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    color: white;
    outline: none;
    color: #5998FE;
    font-size: 14;
    margin-bottom: 10px;
    width: 200px;
}

.task:active {
    background-color: #95d0ee;
}

.alert {
    background: #FCE4EC;
    color: #F50F60;
}

.alert:active {
    background-color: #f8aec7;
}

*/
