.profileInfo {
    grid-area: profData;
    margin-top: 60px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}


.type, .info{
    font-size: 12px;
    color: #A5A5A5;
}

.profInfo {
    display: flex;
    flex-wrap: wrap;
}

.personalInfo, .contact {
    margin-right: 25px;
    margin-top: 30px;
}

.contact {
}

.infoTitle, .editBtn{
    font-size: 14px;
    font-weight: bold;
}

.info {
    margin-top: 6px;
}


.editBtn {
    margin-top: 30px;
    color: #82B1FF;
    text-decoration: underline;
}

.editBtn  a {
    cursor: pointer;
}

