.headerInfo {
    margin-left: 5%;
}

.taskTitle {
    color: #212121;
    font-size: 16px;
    font-weight: bold;
}

.taskSubTitle {
    color: #A5A5A5;
    font-size: 12px;
}

.taskInfo {
    color: #A5A5A5;
    font-size: 14px;
    text-align: left;
    margin: 20px 5% 0;
    font-weight: bold;
}

.taskInfo > div {
    margin-bottom: 10px;
}

.infoTitle {
    color: #181818;
    font-size: 14px;
}

.downloadBtn {
    padding: 8px 27px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 12px 2px #a8a7a7;
    background: #82B1FF;
    color: white;
    outline: none;
    margin: 10px 0;
    width: 200px;
}

.downloadBtn:active {
    background: #6d9cea;
}

.studentListHeader , .studentInfo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #181818;
}

.studentInfo {
    align-items: center;
}

.studentInfoItem {
    width: 50%;
}

.name {
    color: #181818;
    text-align: left;
}

.link {
    color: #82B1FF;
}

