.headerInfo {
    margin-left: 5%;
}

.taskTitle {
    color: #212121;
    font-size: 16px;
    font-weight: bold;
}

.taskSubTitle {
    color: #A5A5A5;
    font-size: 12px;
}

.taskInfo {
    color: #A5A5A5;
    font-size: 14px;
    text-align: left;
    margin: 20px 5% 0;
    font-weight: bold;
}

.taskInfo > div {
    margin-bottom: 10px;
}

.infoTitle {
    color: #181818;
    font-size: 14px;
}

.downloadBtn {
    padding: 8px 27px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 12px 2px #a8a7a7;
    background: #82B1FF;
    color: white;
    outline: none;
    margin: 10px 0;
    width: 200px;
}

.downloadBtnDisabled {
    padding: 8px 27px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 3px 12px 2px #a8a7a7;
    background: #bbc9cb;
    color: white;
    outline: none;
    margin: 10px 0;
    width: 200px;
}

.downloadBtn:active {
    background: #6d9cea;
}

.input, .inputDatePicker {
    height: 35px;
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #a8a7a7;
}

.inputDatePicker {
    width: 100%;
}

.error {
    width: 65%;
    font-size: 12px;
    color: red;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    width: 100%;
    margin-top: 3px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.componentFieldContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.selectFile, .submitBtn {
    display: flex;
    justify-content: flex-end;
}